---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Star, StarHalf } from "lucide-astro";
---

<Layout title="Welcome to Astro.">
  <main class="text-primary">
    <!-- Hero section -->
    <section class="hero flex flex-col">
      <div class="container max-md:px-4 pt-8">
        <Header />
      </div>
      <div
        class="container max-md:px-4 flex-1 flex flex-col-reverse md:flex-row"
      >
        <div
          class="hidden sm:flex flex-0 md:flex-1 items-end justify-start pb-14"
        >
          <span class="writing-mode-lr font-kanit uppercase tracking-widest"
            >swipe down</span
          >
        </div>
        <div class="flex-1 flex flex-col justify-center gap-4">
          <h2 class="font-kanit text-4xl">We design your room aesthetic</h2>
          <p class="text-start max-w-md">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias sunt
            laborum assumenda consequatur ratione.
          </p>
        </div>
      </div>
    </section>
    <!-- About section -->
    <section class="bg-background-foreground py-14 md:py-24">
      <div class="container max-md:px-4 flex flex-col">
        <div class="flex flex-col mb-8 lg:mb-16">
          <span
            class="font-kanit tracking-widest text-primary-foreground uppercase"
          >
            About
          </span>
          <h2 class="font-kanit text-4xl leading-normal lg:leading-relaxed">
            We are the best interior design studio in london
          </h2>
          <p class="max-w-lg mt-4">
            Posuere urna nec tincidunt praesent. Egestas maecenas pharetra
            convallis posuere. Ipsum nunc aliquet bibendum enim. Sem integer
            vitae justo eget magna fermentum iaculis eu non.
          </p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
          <div class="flex flex-1 flex-row gap-4">
            <div class="flex-1">
              <img
                src="./images/laura-davidson-ULP07chR5EQ-unsplash.webp"
                class="object-cover object-center w-full h-36 md:h-60 lg:h-full rounded-tl-4xl lg:rounded-l-4xl"
                alt="laura-davidson-ULP07chR5EQ-unsplash"
              />
            </div>

            <div class="flex-1">
              <img
                src="./images/xie-yujie-nick-kXg2KRuxcgI-unsplash.webp"
                class="object-cover object-center w-full h-36 md:h-60 lg:h-full rounded-tr-4xl lg:rounded-none"
                alt="xie-yujie-nick-kXg2KRuxcgI-unsplash"
              />
            </div>
          </div>
          <div class="flex flex-1 flex-col gap-8 lg:gap-0">
            <img
              src="./images/denys-striyeshyn-Rj1eIzAypmg-unsplash.webp"
              class="h-36 md:h-60 object-cover object-center max-lg:rounded-b-4xl lg:rounded-r-4xl"
              alt="denys-striyeshyn-Rj1eIzAypmg-unsplash"
            />

            <div
              class="flex flex-1 flex-col sm:flex-row gap-4 items-center justify-between"
            >
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >2k+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Project done
                </h5>
              </div>
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >20+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Pro teams
                </h5>
              </div>
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >300+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Global clients
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section -->
    <section class="bg-background py-14 md:py-24 h-screen">
      <div
        class="container max-md:px-4 flex flex-col justify-between lg:flex-row"
      >
        <div class="flex-1 flex flex-col lg:max-w-md">
          <span
            class="font-kanit tracking-widest text-primary-foreground uppercase"
          >
            About
          </span>
          <h2
            class="font-kanit text-4xl leading-normal lg:leading-relaxed max-w-sm"
          >
            Projects are handled by professional certified teams
          </h2>
          <p class="max-w-lg mt-6">
            Posuere urna nec tincidunt praesent egestas maecenas pharetra
            convallis posuere ipsum nunc aliquet bibendum enim consectetur
            adipiscing.
          </p>
          <div class="flex flex-col gap-4 mt-16">
            <img
              src="./images/Avatars.png"
              width="180"
              height="50"
              alt="Avatars"
            />
            <div class="flex items-center">
              <div class="flex gap-1">
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <StarHalf class="w-4 h-4 text-yellow-500 fill-yellow-500" />
              </div>
              <span class="font-nunito"> (4.5 reviews)</span>
            </div>
            <span
              class="font-kanit tracking-widest text-primary-foreground uppercase"
            >
              Trusted by customers
            </span>
          </div>
        </div>
        <div class="flex-1 flex flex-col">
          <div class="grid">
            <div class="col-span-1">
              <img src="./images/jake-nackos-IF9TK5Uy-KI-unsplash.jpg" class="h-56" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .hero {
    background-image: url("./images/bg-hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 689px;
  }
  .writing-mode-lr {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  @media (max-width: 768px) {
    .hero {
      height: 600px;
    }
  }
</style>
