---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Star, StarHalf, ChevronRight } from "lucide-astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Astro.">
  <main class="text-primary">
    <!-- Hero section -->
    <section class="flex flex-col bg-[url('./images/background-image.webp')] bg-cover bg-center bg-no-repeat h-[689px]">
      <div class="container max-md:px-4 pt-8">
        <Header />
      </div>
      <div
        class="container max-md:px-4 flex-1 flex flex-col-reverse md:flex-row"
      >
        <div
          class="hidden sm:flex flex-0 md:flex-1 items-end justify-start pb-14"
        >
          <span class="writing-mode-lr font-kanit uppercase tracking-widest"
            >swipe down</span
          >
        </div>
        <div class="flex-1 flex flex-col justify-center gap-4">
          <h2 class="font-kanit text-4xl">We design your room aesthetic</h2>
          <p class="text-start max-w-md">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias sunt
            laborum assumenda consequatur ratione.
          </p>
        </div>
      </div>
    </section>
    <!-- About section -->
    <section class="bg-background-foreground py-14 md:py-24">
      <div class="container max-md:px-4 flex flex-col">
        <div class="flex flex-col mb-8 lg:mb-16">
          <span
            class="font-kanit tracking-widest text-primary-foreground uppercase"
          >
            About
          </span>
          <h2 class="font-kanit text-4xl leading-normal lg:leading-relaxed">
            We are the best interior design studio in london
          </h2>
          <p class="max-w-lg mt-4">
            Posuere urna nec tincidunt praesent. Egestas maecenas pharetra
            convallis posuere. Ipsum nunc aliquet bibendum enim. Sem integer
            vitae justo eget magna fermentum iaculis eu non.
          </p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
          <div class="flex flex-1 flex-row gap-4">
            <div class="flex-1">
              <img
                src="./images/laura-davidson-ULP07chR5EQ-unsplash.webp"
                class="object-cover object-center w-full h-36 md:h-60 lg:h-full rounded-tl-4xl lg:rounded-l-4xl"
                alt="laura-davidson-ULP07chR5EQ-unsplash"
                loading="lazy"
              />
            </div>

            <div class="flex-1">
              <img
                src="./images/xie-yujie-nick-kXg2KRuxcgI-unsplash.webp"
                class="object-cover object-center w-full h-36 md:h-60 lg:h-full rounded-tr-4xl lg:rounded-none"
                alt="xie-yujie-nick-kXg2KRuxcgI-unsplash"
                loading="lazy"
              />
            </div>
          </div>
          <div class="flex flex-1 flex-col gap-8 lg:gap-0">
            <img
              src="./images/denys-striyeshyn-Rj1eIzAypmg-unsplash.webp"
              class="h-36 md:h-60 object-cover object-center max-lg:rounded-b-4xl lg:rounded-r-4xl"
              alt="denys-striyeshyn-Rj1eIzAypmg-unsplash"
              loading="lazy"
            />

            <div
              class="flex flex-1 flex-col sm:flex-row gap-4 items-center justify-between"
            >
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >2k+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Project done
                </h5>
              </div>
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >20+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Pro teams
                </h5>
              </div>
              <div class="p-4 md:px-10 md:py-8 flex flex-col items-center">
                <span
                  class="font-kanit text-4xl text-primary-foreground uppercase"
                  >300+</span
                >
                <h5
                  class="font-kanit uppercase tracking-widest text-center lg:text-start max-w-36"
                >
                  Global clients
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section -->
    <section class="bg-background py-14 md:py-24">
      <div
        class="container max-md:px-4 flex flex-col justify-between lg:flex-row gap-14 lg:gap-8"
      >
        <div class="flex-1 flex flex-col lg:max-w-md">
          <span
            class="font-kanit tracking-widest text-primary-foreground uppercase"
          >
            About
          </span>
          <h2
            class="font-kanit text-4xl leading-normal lg:leading-relaxed max-w-sm"
          >
            Projects are handled by professional certified teams
          </h2>
          <p class="max-w-lg mt-6">
            Posuere urna nec tincidunt praesent egestas maecenas pharetra
            convallis posuere ipsum nunc aliquet bibendum enim consectetur
            adipiscing.
          </p>
          <div class="flex flex-col gap-4 mt-16">
            <img
              src="./images/Avatars.png"
              width="180"
              height="50"
              alt="Avatars"
            />
            <div class="flex items-center">
              <div class="flex gap-1">
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <Star class="w-4 h-4 text-yellow-500 fill-yellow-500" />
                <StarHalf class="w-4 h-4 text-yellow-500 fill-yellow-500" />
              </div>
              <span class="font-nunito"> (4.5 reviews)</span>
            </div>
            <span
              class="font-kanit tracking-widest text-primary-foreground uppercase"
            >
              Trusted by customers
            </span>
          </div>
        </div>
        <div class="flex-1 grid grid-cols-2 lg:max-w-lg gap-5">
          <div class="col-span-1 max-h-64">
            <img
              src="./images/jake-nackos-IF9TK5Uy-KI-unsplash.jpg"
              class="w-full h-full object-cover object-center"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="col-span-1 max-h-64">
            <img
              src="./images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg"
              class="w-full h-full object-cover object-center"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="col-span-1 grid place-content-center max-h-64">
            <Button text="Learn teams" class="px-6" />
          </div>
          <div class="col-span-1 max-h-64">
            <img
              src="./images/ludovic-migneault-EZ4TYgXPNWk-unsplash.jpg"
              class="w-full h-full object-cover object-center rounded-br-4xl"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div
        class="container max-md:px-4 grid justify-center grid-cols-2 lg:grid-cols-4 gap-4 items-center mt-20"
      >
        <div class="col-span-1">
          <img src="./images/Logo1.svg" loading="lazy" />
        </div>
        <div class="col-span-1">
          <img src="./images/Logo2.svg" loading="lazy" />
        </div>
        <div class="col-span-1">
          <img src="./images/Logo3.svg" loading="lazy" />
        </div>
        <div class="col-span-1">
          <img src="./images/Logo4.svg" loading="lazy" />
        </div>
      </div>
    </section>
    <!-- Landing points -->
    <section class="py-14 md:py-24">
      <div class="container max-md:px-4 flex flex-col">
        <div
          class="flex flex-col gap-4 md:flex-row justify-between md:items-center"
        >
          <h3 class="font-kanit text-4xl">01. Interior design</h3>
          <div class="flex flex-col gap-6 w-full lg:max-w-md">
            <p class="text-primary-foreground">
              Posuere urna nec tincidunt praesent egestas maecenas pharetra
              convallis posuere ipsum nunc aliquet bibendum enim consectetur
              adipiscing.
            </p>
            <span class="flex items-center gap-1 group cursor-pointer"
              ><a href="#" class="font-kanit tracking-widest">LEARN MORE</a
              ><ChevronRight
                class="w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
              /></span
            >
          </div>
        </div>
        <hr class="my-12 w-full border-secondary-foreground" />
        <div
          class="flex flex-col gap-4 md:flex-row justify-between md:items-center"
        >
          <h3 class="font-kanit text-4xl">02. Furniture design</h3>
          <div class="flex flex-col gap-6 w-full lg:max-w-md">
            <p class="text-primary-foreground">
              Posuere urna nec tincidunt praesent egestas maecenas pharetra
              convallis posuere ipsum nunc aliquet bibendum enim consectetur
              adipiscing.
            </p>
            <span class="flex items-center gap-1 group cursor-pointer"
              ><a href="#" class="font-kanit tracking-widest">LEARN MORE</a
              ><ChevronRight
                class="w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
              /></span
            >
          </div>
        </div>
        <hr class="my-12 w-full border-secondary-foreground" />
        <div
          class="flex flex-col gap-4 md:flex-row justify-between md:items-center"
        >
          <h3 class="font-kanit text-4xl">03. Landscape design</h3>
          <div class="flex flex-col gap-6 w-full lg:max-w-md">
            <p class="text-primary-foreground">
              Posuere urna nec tincidunt praesent egestas maecenas pharetra
              convallis posuere ipsum nunc aliquet bibendum enim consectetur
              adipiscing.
            </p>
            <span class="flex items-center gap-1 group cursor-pointer"
              ><a href="#" class="font-kanit tracking-widest">LEARN MORE</a
              ><ChevronRight
                class="w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
              /></span
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery -->
    <section class="grid grid-cols-2 lg:grid-cols-4 overflow-hidden">
      <div class="col-span-1">
        <img
          src="./images/aaina-sharma-j8iojzepfq4-unsplash-65e4b389a75f5.webp"
          alt=""
          class="object-cover object-center aspect-square"
          loading="lazy"
        />
      </div>
      <div class="col-span-1">
        <img
          src="./images/kam-idris-hyb7kbu4x7e-unsplash-65e4b3895df32.webp"
          alt=""
          class="object-cover object-center aspect-square"
          loading="lazy"
        />
      </div>
      <div class="col-span-1">
        <img
          src="./images/nathan-dumlao-xdi-fefmlsw-unsplash-65e4b38b162cc.webp"
          alt=""
          class="object-cover object-center aspect-square"
          loading="lazy"
        />
      </div>
      <div class="col-span-1">
        <img
          src="./images/thanos-pal-61tfynirwmi-unsplash-65e4b38b1903a.webp"
          alt=""
          class="object-cover object-center aspect-square"
          loading="lazy"
        />
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .writing-mode-lr {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  @media (max-width: 768px) {
    .hero {
      height: 600px;
    }
  }
</style>
