---
interface Props {
  text: string;
  class?: string;
}

const { text } = Astro.props;
---

<button
  class={`text-base uppercase font-kanit tracking-widest rounded-full px-8 py-2 border border-ring hover:bg-primary-foreground transition-colors duration-300 ${Astro.props.class}`}
>
  {text}
</button>
